<!-- Navbar de navegacion -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SUPERVISOR MONITOR</a>
        </div>

        <!-- Render only if user in logged -->
        <% if (session.user) { %>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Monitor <span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> admin</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <% } %>

    </div>
    <!-- /.container-fluid -->
</nav>