<!-- Navbar de navegacion -->
<%- include _navbar.ejs %>


<div class="container box-container" id="global-position">
    <!-- DISTRIBUCION DE AGENTES POR ESTADO -->
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div class="box-4-1">
            <div class="box-head bb-red">
                DISTRIBUCION DE LLAMADAS EN TIEMPO REAL
            </div>
            <div class="box-body">
                <!-- contenido dinamico -->
                <status-statistics></status-statistics>
            </div>
            <div class="box-foot"></div>
        </div>
    </div>
    
    <!-- DISTRIBUCION DE LLAMADAS POR AGENTES -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div class="box-4-1">
            <div class="box-head bb-orange">
                DISTRIBUCION DE LLAMADAS POR AGENTE
            </div>
            <div class="box-body">
                <call-statistics></call-statistics>
            </div>
        <div class="box-foot"></div>
    </div>
</div>

<!-- CALL CENTER PANEL -->  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box" id="callCenter">  
    <div class="box-4">
        <div class="box-head">
           CALL CENTER (Real Time Supervisor)
           <span class="glyphicon glyphicon-resize-full pull-right" ng-click="vm.scrollTo('callCenter')"></span>
           <span class="glyphicon glyphicon glyphicon-resize-small pull-right" ng-click="vm.scrollTo('global-position')"></span>
        </div>
        <div class="box-body">
            <call-center>Loading...</call-center>
        </div>
        <div class="box-foot"></div>
    </div>
</div>
    



<!--
    <div class="box box-3-1">
    <div class="box-head bb-violeta">
        Contactos
    </div>
    <div class="box-body">
        hjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasd
    </div>
    <div class="box-foot"></div>
    </div>
    <div class="box box-1-1">
    <div class="box-head bb-red">
        Contactos
    </div>
    <div class="box-body">
        hjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasdhjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasdhjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasdhjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasd
    </div>
    <div class="box-foot"></div>
    </div>


    <div class="box box-4-1">
    <div class="box-head">
        Contactos
    </div>
    <div class="box-body">
        hjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasdhjkfhasdj hshd fakjsdfasdlfhaskjdhf las dahsdf ads ha sdf asd fasdf asdf asdf asdf asdfasd
    </div>
    <div class="box-foot"></div>
    </div>




    <div class="box box-2-1">
    <div class="box-head">
        Contactos
    </div>
    <div class="box-body">
        g asdha ksjdhfl ahsdkjfha sdh flkadskfjhal ksjdhf ljasdljfa lskdfljkdsjf aljksdlfjkasjdhf ljkaslkdjflkajsdlkjfa lkjsdlfjkasljkdhf lkajdsljfalsjkdfljkalsdjflajkhsdj fh asjhdfl sjdfh sdfh sj faljshd flslfls
    </div>
    <div class="box-foot"></div>
    </div>
    <div class="box box-2-1">
    <div class="box-head">
        Contactos
    </div>
    <div class="box-body">
    </div>
    <div class="box-foot"></div>
    </div>
-->


</div>